# Игнорировать папки и файлы, связанные с данными
**/*data/
halfleptonic/
# Игнорировать виртуальные окружения
.venv/
.vscode/
venv/
# Игнорировать временные и служебные каталоги
**/__*/
**/__*

# Игнорировать изображения и PDF
**/*.png
**/*.pdf

# Игнорировать файлы в формате Feather
**/*.feather
*.feather
**/*.parquet
*.parquet

# Игнорировать файлы Parquet

# Игнорировать ROOT-файлы
**/*.root
*.root

output/

#latex
**/*.aux
*.aux  
**/*.out
*.out
**/*.toc
*.toc
**/*.nav
*.nav
**/*.snm
*.snm

