# Игнорировать папки и файлы, связанные с данными
**/*data/

# Игнорировать виртуальные окружения
.venv/
.vscode/

# Игнорировать временные и служебные каталоги
**/__*/
**/__*

# Игнорировать изображения и PDF
**/*.png
**/*.pdf

# Игнорировать файлы в формате Feather
**/*.feather
*.feather

# Игнорировать файлы Parquet
*.parquet

# Игнорировать ROOT-файлы
**/*.root
*.root

output/

#latex
**/*.aux
*.aux  
**/*.out
*.out
**/*.toc
*.toc
**/*.nav
*.nav
**/*.snm
*.snm

